<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="heading">
<!--    <h1>Bank ( {{users.length}} users )</h1>-->
    <h1>{{title}} ( {{users.length}} users )</h1>
</div>
<div class="page-content">

    <ul class="list">

    {{#each users}}
        <li>
            <div class="card" }>
                <h3>Name: <span>{{this.first}} {{this.last}}</span></h3>
                <h4>Id: {{this.id}}</h4>
                <div>
                    <h4>Cash: <span>{{this.cash}}</span></h4>
                    <h4>Credit: <span>{{this.credit}}</span></h4>
                </div>
                <div class="buttons-div">

                    <form  action="/user?id="{{this.id}} >
                        <input class="hidden" type="text" name="id" value="{{this.id}}">
                        <button onclick={selectUser({{this.id}})} type="submit" > View</button>

                    </form>
                    <!--                    <form method="GET"  >-->
                    <!--                        <input class="hidden" type="text" name="id" value="{{this.id}}">-->
                    <button type="submit" onclick={deleteUser2({{this.id}})}> Delete</button>

                    <!--                    </form>-->
                    <button> Edit</button>
                </div>

            </div>
        </li>
    {{/each}}
    </ul>
    </div>
    <script src="../js/main.js" ></script>
<!--<script src="./utils.js" ></script>-->
</div>
</body>
</html>